name: Build jsdos-drag-dos-canvas

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Install Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.3

      - name: Build with Gradle
        run: gradle build

      - name: Upload JS artifact
        uses: actions/upload-artifact@v4
        with:
          name: jsdos-drag-dos-canvas
          path: build/js/jsdos-drag-dos-canvas.js
